<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-term-menu" label="Terminals">
  <item label="Kitty">
    <action name="Execute">
      <command>kitty</command>
    </action>
  </item>
  <item label="Cool Retro Term">
    <action name="Execute">
      <command>cool-retro-term</command>
    </action>
  </item>
  <item label="Yazi (Terminal FM)">
    <action name="Execute">
      <command>kitty yazi</command>
    </action>
  </item>
</menu>

<menu id="apps-editors-menu" label="Editors &amp; IDEs">
  <item label="Visual Studio Code">
    <action name="Execute">
      <command>code</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>code</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Micro Editor">
    <action name="Execute">
      <command>micro</command>
    </action>
  </item>
  <item label="Krita">
    <action name="Execute">
      <command>krita</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-browsers-menu" label="Browsers">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Google Chrome">
    <action name="Execute">
      <command>google-chrome-stable</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Google-chrome</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Zen Browser">
    <action name="Execute">
      <command>zen-browser</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-media-menu" label="Media">
  <item label="MPV Player">
    <action name="Execute">
      <command>mpv</command>
    </action>
  </item>
  <item label="VLC Media Player">
    <action name="Execute">
      <command>vlc</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Audacity">
    <action name="Execute">
      <command>audacity</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="OBS Studio">
    <action name="Execute">
      <command>obs</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Imagemagick">
    <action name="Execute">
      <command>display</command>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Management">
  <item label="Yazi Terminal FM">
    <action name="Execute">
      <command>kitty yazi</command>
    </action>
  </item>
  <item label="7-Zip">
    <action name="Execute">
      <command>7zFM</command>
    </action>
  </item>
  <item label="Trash CLI">
    <action name="Execute">
      <command>kitty trash --help</command>
    </action>
  </item>
  <item label="MEGA CMD">
    <action name="Execute">
      <command>kitty mega-cmd</command>
    </action>
  </item>
</menu>

<menu id="apps-systemtools-menu" label="System Tools">
  <item label="btop System Monitor">
    <action name="Execute">
      <command>kitty btop</command>
    </action>
  </item>
  <item label="PulseAudio Volume Control">
    <action name="Execute">
      <command>pavucontrol</command>
    </action>
  </item>
  <item label="Redshift">
    <action name="Execute">
      <command>redshift-gtk</command>
    </action>
  </item>
  <item label="AutoRandR (Display Setup)">
    <action name="Execute">
      <command>autorandr --change</command>
    </action>
  </item>
  <item label="Brightness Control">
    <action name="Execute">
      <command>kitty brightnessctl --help</command>
    </action>
  </item>
  <item label="PowerTop">
    <action name="Execute">
      <command>sudo powertop</command>
    </action>
  </item>
</menu>

<menu id="apps-gaming-menu" label="Gaming">
  <item label="Steam">
    <action name="Execute">
      <command>steam</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Nullpomino (Tetris)">
    <action name="Execute">
      <command>nullpomino</command>
    </action>
  </item>
  <item label="VirtualBox">
    <action name="Execute">
      <command>virtualbox</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Wine Configuration">
    <action name="Execute">
      <command>winecfg</command>
    </action>
  </item>
  <item label="Winetricks">
    <action name="Execute">
      <command>winetricks</command>
    </action>
  </item>
</menu>

<menu id="apps-wm-menu" label="Window Managers">
  <item label="BSPWM">
    <action name="Execute">
      <command>bspwm</command>
    </action>
  </item>
  <item label="PekWM">
    <action name="Execute">
      <command>pekwm</command>
    </action>
  </item>
  <item label="IceWM">
    <action name="Execute">
      <command>icewm</command>
    </action>
  </item>
  <item label="i3 Window Manager">
    <action name="Execute">
      <command>i3</command>
    </action>
  </item>
  <item label="Polybar">
    <action name="Execute">
      <command>polybar example</command>
    </action>
  </item>
  <item label="Rofi Launcher">
    <action name="Execute">
      <command>rofi -show drun</command>
    </action>
  </item>
</menu>

<menu id="apps-dev-menu" label="Development">
  <item label="Git">
    <action name="Execute">
      <command>kitty</command>
    </action>
  </item>
  <item label="Node.js">
    <action name="Execute">
      <command>kitty node</command>
    </action>
  </item>
  <item label="npm">
    <action name="Execute">
      <command>kitty npm --help</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration (obconf-qt)">
    <action name="Execute">
      <command>obconf-qt</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Ly Display Manager">
    <action name="Execute">
      <command>sudo systemctl restart ly</command>
    </action>
  </item>
  <item label="UFW Firewall">
    <action name="Execute">
      <command>sudo ufw status</command>
    </action>
  </item>
  <item label="Manage CUPS Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-term-menu"/>
  <menu id="apps-editors-menu"/>
  <menu id="apps-browsers-menu"/>
  <menu id="apps-media-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-fileman-menu"/>
  <menu id="apps-systemtools-menu"/>
  <menu id="apps-gaming-menu"/>
  <menu id="apps-wm-menu"/>
  <menu id="apps-dev-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
</menu>

</openbox_menu>