
//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/dmenu.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"

//@theme "/usr/share/rofi/themes/dmenu.rasi"

@theme "xterm_bw.rasi"

//@theme "/usr/share/rofi/themes/DarkBlue.rasi"
