[Desktop Entry]
Name=NullpoMino
GenericName=Tetris Game
Comment=An action puzzle game (Tetris clone)
Exec=/opt/nullpomino/play_slick
Icon=/opt/nullpomino/res/icon/icon.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Keywords=tetris;puzzle;game;arcade;
StartupWMClass=NullpoMinoSlick
