[Desktop Entry]
Name=orbolt
GenericName=orbolt
TryExec=/opt/hfs21.0.596/bin/orbolt_url
Exec=/opt/hfs21.0.596/bin/orbolt_url %u
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
MimeType=x-scheme-handler/orbolt;
