[Desktop Entry]
Type=Application
Name=Random Play Penguinz0
Comment=Play a random Penguinz0 video
Exec=/home/wade/.config/scripts/random-play-yt_penguinz0.sh
Icon=pewdiepie
Terminal=false
Categories=AudioVideo;Player;
