[Desktop Entry]
Version=1.0
Type=Application
Name=Thinkorswim
Comment=Trading platform by TD Ameritrade
Exec=/home/wade/thinkorswim/thinkorswim
Icon=/home/wade/thinkorswim/thinkorswim.ico
Categories=Finance;Investment;
Terminal=false
StartupWMClass=thinkorswim
