[Desktop Entry]
Type=Application
Name=rundll32
MimeType=application/x-x509-ca-cert;
Exec=env "WINEPREFIX=/home/wade/.wine" wine start /ProgIDOpen "CERFile" %f
NoDisplay=true
StartupNotify=true
Icon=5742_rundll32.0
